<div class='container'>
    <h1 ng-controller='ApplicationCtrl'>Current Dog is {{currentUser.dogname}}</h1>
    <form role='form'>
        <div class='form-group'>
            <div class='input-group'>
                <input ng-model='dogname' class='form-control' />
                <span class='input-group-btn'>
                    <button ng-click='addDog()' class='btn btn-default'>Pick a Dog</button>
                </span>
            </div>
        </div>
    </form>
    <h1 ng-controller='ApplicationCtrl'>List of Dogs</h1>
    <ul class='list-group'>
        <li ng-repeat="dog in dogs" class='list-group-item'>
            <span>- {{ dog.dogname }} - </span>
            <strong>@{{ dog.ownername }}</strong>
        </li>
    </ul>
</div>